.container {
  position: relative;
}

.test {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.scrollContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  width: 100vw;
  height: 93vh;
  scroll-snap-align: start;
  /*background-color: antiquewhite;*/
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
@keyframes scaleProgress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.toTop {
  color: #000;
  opacity: 0.8;
  position: fixed;
  z-index: 100;
  right: 12px;
  bottom: 12px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.toTop:hover {
  transform: scale(1.2);
}
