/* 定义一个通用的类名，用于选择所有的卡片 */
.card {
  min-width: 142px;
  max-width: 330px;
  margin: 10px;
}

/* 定义一个通用的类名，用于选择所有包含卡片的容器 */
.cardContainer {
  display: flex;
  flex-direction: row;
  /* 设置容器的弹性换行为换行，让卡片在一行放不下时自动换行 */
  flex-wrap: wrap;
  /* 设置容器的对齐方式为居中，让卡片在容器内居中显示 */
  align-items: center;
  padding: 24px 0 24px 24px;
}

/* 定义一个媒体查询，当屏幕宽度小于695px时生效 */
@media screen and (max-width: 695px) {
  .card {
    width: 40%;
  }
}

/* 定义一个媒体查询，当屏幕宽度在695px到1100px之间时生效 */
@media screen and (min-width: 695px) and (max-width: 1100px) {
  .card {
    width: 30%;
  }
}

/* 定义一个媒体查询，当屏幕宽度在1100px到1425px之间时生效 */
@media screen and (min-width: 1100px) and (max-width: 1425px) {
  .card {
    width: 20%;
  }
}

/* 定义一个媒体查询，当屏幕宽度大于1425px时生效 */
@media screen and (min-width: 1425px) {
  .card {
    width: 17%;
  }
}
