.img1 {
  position: absolute;
  background-image: url('/images/c4.jpg');
  background-size: cover;
  width: 200px;
  height: 230px;
  border-radius: 30px;
  left: 200px;
  top: 50px;
  opacity: 0;
}

.img2 {
  position: absolute;
  background-image: url('/images/r1.jpg');
  background-size: cover;
  width: 230px;
  height: 190px;
  border-radius: 30px;
  right: 200px;
  top: -60px;
  opacity: 0;
}

.img3 {
  position: absolute;
  background-image: url('/images/c5.jpg');
  background-size: cover;
  width: 180px;
  height: 220px;
  border-radius: 30px;
  right: 220px;
  bottom: -40px;
  opacity: 0;
}

.desList {
  color: #777e87;
  font-size: 16px;
  opacity: 0;
}

.occurSearch {
  animation: occurSearch 1s ease forwards;
  animation-delay: 2.3s;
}
@keyframes occurSearch {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.occur {
  animation: occur 1s ease forwards;
  animation-delay: 1.3s;
}
@keyframes occur {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.slide1 {
  animation: slide1 1s ease-in forwards;
  animation-delay: 0.2s;
}
@keyframes slide1 {
  0% {
    transform: translate(-160px, 33px);
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.slide2 {
  animation: slide2 1s ease-in forwards;
  animation-delay: 0.2s;
}
@keyframes slide2 {
  0% {
    transform: translate(176px, 160px);
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.slide3 {
  animation: slide3 1s ease-in forwards;
  animation-delay: 0.2s;
}
@keyframes slide3 {
  0% {
    transform: translate(170px, -152px);
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
