.img1 {
  position: absolute;
  background-image: url('/images/c4.jpg');
  background-size: cover;
  width: 200px;
  height: 230px;
  border-radius: 30px;
  left: 200px;
  top: 50px;
}

.img2 {
  position: absolute;
  background-image: url('/images/r1.jpg');
  background-size: cover;
  width: 230px;
  height: 190px;
  border-radius: 30px;
  right: 200px;
  top: -60px;
}

.img3 {
  position: absolute;
  background-image: url('/images/c5.jpg');
  background-size: cover;
  width: 180px;
  height: 220px;
  border-radius: 30px;
  right: 220px;
  bottom: -40px;
}

.desList {
  color: #777e87;
  font-size: 16px;
}

.flicker {
  animation: flicker 2s linear infinite;
}

@keyframes flicker {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
